/*.encabezdo {
	display: flex;
	background-image: linear-gradient(red,blue);
	justify-content: center;
}*/

//-----------------------------------------
//  PATRON DE COLORES
//-----------------------------------------

$texto:red;
$principal: red;
$secundario:orange;

.bg-inverse {
	background-color: $principal;
}

.btn-primary:hover {
	background-color: $principal;
}

/*.servicios {
	display: flex;
}*/

/*.servicios>*{
	border: 1px solid red;
}*/



/*.container {
	border: 1px solid blue;
}*/
/*
.row {
	border: 1px solid red;
}*/

/*.row>* {
	border: 3px solid orange;
}

html {
	font-size: 20px
}*/

.card:hover {
	box-shadow: 0 0 10px #0c0c3b;
}

/*p {
	display: flex;
	justify-content: flex-end;
}*/

/*p {
	font-size: 1rem;
	display: inline;
}*/

/*a {
	display: block;
	border: 1px solid red;
}*/

h1 {
	font-size: 2rem;
	border: .5rem solid red;
	padding: .5rem;
	margin: 3rem;
}


@media(min-width: 760px){ /*Aumentar el tamaño del texto*/
	html {
		font-size: 18px
	}
}